<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Rachit Nigam">
  <title>LATTE '21</title>
  <link rel="stylesheet" href="css/main.css">
</head>

<body>
  <section>
  <header>
  <div>
  <img src="img/latte.svg" class="logo">
  <h1>
    LATTE ’21
  </h1>
  <h3 class="subtitle">
    Workshop on Languages, Tools, and Techniques for Accelerator Design
  </h3>
  </div>
  </header>
  <hr>
  {% block content %} {% endblock %}
  <hr>
  <footer>
    Logo by <a href="https://www.flaticon.com/authors/smashicons">Smashicons</a>.
  </footer>
  </section>
</body>

</html>
